@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ArsMaquette';
  src: url("/fonts/ars-maquette-regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterRegular';
  src: url("/fonts/Inter_28pt-Regular.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SwitzerLight';
  src: url("/fonts/Switzer-Light.otf") format('opentype');
}

@font-face {
  font-family: 'SwitzerRegular';
  src: url("/fonts/Switzer-Regular.otf") format('opentype');
}

@font-face {
  font-family: 'SwitzerMedium';
  src: url("/fonts/Switzer-Medium.otf") format('opentype');
}

@font-face {
  font-family: 'SwitzerSemiBold';
  src: url("/fonts/Switzer-SemiBold.otf") format('opentype');
}

@font-face {
  font-family: 'BasicSans';
  src: url("/fonts/basic-sans.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Belgrano';
  src: url("/fonts/belgrano.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Convergence';
  src: url("/fonts/convergence.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("/fonts/inter.ttf") format('truetype');
  font-style: normal;
}

body {
  font-family: 'ArsMaquette', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --backgroundMain: #F2F2F2;
  --backgroundSecondary: #ECECE4;
  --textPrimary: #080b05;
  --cardBackground: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      var(--backgroundMain),
      var(--backgroundSecondary)
    );
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
