.home.section {
  background: transparent;
  color: var(--textPrimary);
  font-family: 'KaliceRegular';
}

.home .wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 1rem 8rem;
  max-width: 80rem;
}

@media (min-width: 1024px) {
  .home .wrapper {
    display: flex;
    height: 90vh;
    align-items: center;
  }
}

.home .inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.home .title {
  color: var(--textPrimary);
  font-size: 3rem;
  line-height: 2.5rem;
  font-family: 'KaliceBold', sans-serif;
  padding: 12px;
}

.home .icons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.home .iconLink {
  color: var(--textPrimary);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.home .icon {
  width: 2rem;
  height: 2rem;
}
